body {
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    overflow: hidden;
}

.header {
  position: absolute;
  height: 0px;
  width: 100%;
  background-color: #444;
  color: #fff;
  position: absolute;
  top: 0;
}

.map {
  position: absolute;
  left: 440px;
  right: 0;
  bottom: 0;
  top: 0px;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 440px;
  top: 0px;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  border: solid;
  background-color: #9da3b6;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:#9da3b6;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:20px;
  height:15px;
  }

  #media {
    display: visible;
  }
  #mediaSmall{
    display: none;
  }

@media screen and (min-width: 480px) and (max-width: 800px) {

  .custom-popup .leaflet-popup-content-wrapper {
    background:#9da3b6;
    color:#fff;
    font-size:12px;
    line-height:14px;
    }
  .custom-popup .leaflet-popup-tip-container {
    width:10px;
    height:7px;
    }
.sidebar {
  width: 0%;
  top:100px;
  padding: 0%;
}
.header{
  height: 100px;
  width:100%;
}
.map{
  left: 0%;
  top:100px;
}

#media {
  display: none;
}
#mediaSmall{
  display: inline;
}

.left{
  width: 50px;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
}
.right{
  width: 50px;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
}
.bottom{
  width: 100%;
  height: 50px;
  border: solid;
  border-width: thin;
  position: absolute;
  background-color: powderblue;
}
}

@media screen and (max-width: 479px) {

  .custom-popup .leaflet-popup-content-wrapper {
    background:#9da3b6;
    color:#fff;
    font-size:12px;
    line-height:14px;
    }

  .custom-popup .leaflet-popup-tip-container {
    width:10px;
    height:7px;
    }
  .sidebar {
    width: 0%;
    top:100px;
    padding: 0%;
  }
  .header{
    height: 120px;
    width:100%;
  }
  .map{
    left: 0%;
    top:100px
  }
  .left{
    width: 50px;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
  }
  #media {
    display: none;
  }

  #mediaSmall{
    display: inline;
  }
  .right{
    width: 50px;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
  }
  .bottom{
    width: 100%;
    height: 50px;
    border: solid;
    border-width: thin;
    position: absolute;
    background-color: powderblue;
  }
}
